<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <img src="http://localhost:3010/src/client/assets/1_8XIjunF2z6dmsVlkEuOUaw.png" alt="sentiment photo">
            </div>
            <div class="nav_section">
                <button class="nav_button">Navigate</button>
                <button class="nav_button">Navigate</button>
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="analysis-text">Text for Sentiment Analysis:</label>
                    <input id="analysis-text" type="text" name="input" value="" placeholder="Input Text Here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <h1>Analysis Results:</h1>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('./service-worker.js');
                });
            }
        </script>
    </body>
</html>
